@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .toup{
      position: fixed;
      bottom: 50px;
      right: 10px;
      background-color: #403737;
      width: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      color: white;
      border-radius: 50%;
      height: 50px;
  }
  .toup a{
      color: white;
  }

.jumbotron{
    height: 100vh;
    width: 100%;
    background-color: #6C63FF;
    position: relative;
}
.glmbng{
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}
.homedepan{
    height: 100vh;
    margin-top: -70px;
}
.nav-item{
    letter-spacing: 1px;
}
.bg-biru{
    background-color: #6C63FF;
}
.homedepan .wld{
    height: 600px;
    position: absolute;
    bottom: -10px;
    right: -50px;
}
.judul{
    color: white;
    margin-top: 35vh;
}
.judul h1{
    font-size: 70px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}
.judul a{
    margin-top: 20px;
    color: white;
    display: block;
    padding: 7px;
    border: 2px solid white;
    text-decoration: none;
    width: 140px;
    text-align: center;
    border-radius: 40px;
}
.judul span{
    letter-spacing: 4px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.jumbotron .pattern{
    position: absolute;
    left: -60PX;
    top: 38VH;
    width: 150px;
}
.about{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}
.about .row{
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #535252;
}
.title span{
    color: #6C63FF;
    font-size: 30px;
}
.w{
    margin-top: 10px;
    display: block;
    font-size: 20px;
    color: #48484E;
    letter-spacing: 1px;
}
.about p{
    text-indent: 50px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 18px;
    display: block;
    margin-top: 10px;
    text-align: justify;
}
.about ul{
    padding: 0;
    margin: 0;
}
.about ul li{
    display: inline-block;
}
.about ul li a{
    font-size: 20px;
    padding: 10px;
    transition: .5s;
    color: black;
}
.about ul li a:hover{
    color: white;
    background-color:#6C63FF ;
}    
.kotak{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    padding: 40px;
}
.kotak:nth-child(1){
    margin-right: 50px;
}
.expertises{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    background-color:#F6F6F6;
}
.expertises .row{
justify-content: center;
margin-top: 50px;
}
.expertises .title{
    text-align: center;
}
.skill .progress{
    margin-top: 6px;
    margin-bottom: 6px;
}
.skill h5{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skill span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.box{
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin: 40px;
    border-radius: 10px;
    background-color: red;
    position: relative;
}
.box:nth-child(1){
    background-image: url(../img/1.jpg);
    background-size: cover;
}
.box:nth-child(2){
    background-image: url(../img/2.jpg);
    background-size: cover;
}
.box:nth-child(3){
    background-image: url(../img/3.jpg);
    background-size: cover;
}
.box .ket{
    background-color:#6C63FF ;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
.contact{
    bottom: 0;
    width: 100%;
    background-color:#6C63FF;
    padding-top: 200px;
    padding-bottom: 80px;
    position: relative;
}
.contact img{
    top: -1px;
    left: 0;
    position: absolute;
}

.service{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}
.contact h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.contact h1 span{
    color: rgb(11, 11, 87);
}
.me{
    width: 400px;
    margin:auto;
}
.me input,textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    padding:5px 5px 5px 10px;
    outline: none;
    margin-bottom: 10px;
    display: block;
}
.footer{
    background-color: #403737;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact button{
    background-color:#403737;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}


@media only screen and (max-width: 864px) {
    .pattern{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .wld{
        display: none;
    }
}
@media only screen and (max-width: 605px) {
    .judul h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 569px) {
    .about .aboutitle{
        margin-top: 50px;
    }
    .kotak:nth-child(1){
        margin-right:0;
    }
    .kotak{
        background: none;
        box-shadow: none;
        box-sizing: border-box;
    }
}